# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/
/forest-classifier-scikit/data/First_stab_data_values.csv
/xgboost/data/combined_stab_v1.06_datalab.csv
/xgboost/data/datalab_persona_run1.csv
/pca/data/datalab_persona_run1_with_scale.csv
/pca/data/datalab_persona_run1_with_scale_cat.csv
/pca/data/datalab_persona_run1_with_scale_cont.csv
/pca/data/datalab_persona_run1_with_scale_weightHeight.csv
/nets/data/datalab_persona_run1_with_scale_cont.csv
/nets/data/datalab_persona_run1_with_scale_cat.csv
/nets/data/datalab_persona_run1_with_scale.csv
/tpot/data/datalab_persona_run1_with_scale_cont.csv
/tpot/data/datalab_persona_run1_with_scale.csv
/tpot/data/datalab_persona_run1_with_scale_cat.csv
/xgboost/data/datalab_persona_run1_with_scale_id.csv
/xgboost/data/datalab_persona_run1_with_scale.csv
/isolation/data/datalab_persona_run1.csv
/isolation/data/datalab_persona_run1_with_scale_cat.csv
/isolation/data/scaled_non_smokers_reduced.csv
/isolation/data/OneHotEncodedCats.csv
/isolation/data/scaled_smokers.csv
/isolation/data/fmi_smokers.csv
/isolation/data/scaled_non_smokers.csv
/isolation/data/Scaled_Data.csv
/isolation/data/fmi_non_smokers_test.csv
/isolation/data/scaled_non_smokers_test.csv
/isolation/data/datalab_persona_run1_with_scale.csv
/isolation/data/fmi_non_smokers.csv
/isolation/data/fmi_non_smokers_reduced.csv
/isolation/data/datalab_persona_cont_forOutliers.csv
/isolation/data/datalab_persona_cat_reduced.csv
/isolation/data/datalab_persona_cont.csv
/isolation/data/datalab_persona_cont_reduced.csv
/isolation/data/datalab_persona_cat.csv
/isolation/data/joined_test_cat.csv
/isolation/data/joined_test_cont.csv
/pca/data/age_salary.csv
/pca/data/height_weight.csv
/pca/data/datalab_persona_run1_with_scale_cat_classless.csv
/tnse/data/age_salary.csv
/tnse/data/datalab_persona_run1_with_scale_cat.csv
/tnse/data/datalab_persona_run1_with_scale.csv
/tnse/data/datalab_persona_run1_with_scale_cat_classless.csv
/tnse/data/datalab_persona_run1_with_scale_cont.csv
/tnse/data/height_weight.csv
/tnse/data/datalab_persona_run1_with_scale_weightHeight.csv
